/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');


/* common styles are written here */
*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Mulish', sans-serif;
  margin: 3rem 8.438rem;
}
.division{
    margin-top: 6.25rem;
}
.center-align{
  text-align: center;
}
.bold-text{
  font-weight: 700;
}
.regular-text{
  font-weight: 400;
}
.theme-heading{
  font-size: 2.5rem;
  font-weight: 800;
}
.theme-button{
    background-color: #FF5400;
    color: white;
    width: 10.875rem;
    height: 3.25rem;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}
button, .theme-button:hover{
  cursor: pointer;
}



/* other styles are written here */

/* header section styles */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 3rem auto;
}
.nav-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 2.25rem;
}
.nav-header img{
  width: auto;
}
.theme-text{
  color: #FF5400;
}
.menu{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu a{
  font-size: 1.125rem;
  text-decoration: none;
  color: #424247;
}
.hamburger{
  display: none;
} 

.top-banner{
    background: rgba(0, 0, 0, 0.384) url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    border-radius: 15px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.banner-heading{
    color: #fff;
    font-size: 4rem;
  /* padding: 6.625rem auto auto auto ; */
}
.top-banner p{
    color: #fff;
    font-size: 1rem;
    margin: 1.5rem auto 3rem auto;
    width: 70%;
}
.input-container{
    background-color: #ffffff50;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.input{
    width: 10.875rem;
    height: 3.25rem;
    font-family: 'Mulish', sans-serif;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0rem 0.75rem;
}
.popular-tour{
    display: flex;
    justify-content: space-between;
}
.popular-tour-description{
    width: 45%;
}

.popular-tour-description p{
    margin: 1.5rem 3rem 1.5rem 0rem;
}
.tour-lists li{
    margin: 1rem auto 1rem auto;
}


/* Choose your destination section styles */
.destination{
  text-align: center;
}

.short-width-section{
  width: 40.188rem;
  margin: 1.5rem auto 1rem auto;
}

.collage-container{
  margin: 3rem auto 0rem auto;
  max-width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.collage-row{
  display: flex;
  gap: 1.5rem;
}

.place-card{
  position: relative;
  width: auto;
  margin: 0px auto;
}

.place-image{
  width: 100%;
}



.place-name{
  color: #ffffffd5;
  font-size: 1.75rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Why choose us section */
.rose-bg{
  background-color: rgba(251, 181, 99, 0.20);
  border: 1px solid transparent;
  border-radius: 10px;
  width: 50%;
  
}
.rectangle{
  padding: 2rem;
}
.rectangle h1{
  font-size: 1.5rem;
  font-weight: 800;
  margin: 2rem 0rem 1rem 0rem;
}

.rectangle-2{
  background-color: rgba(41, 206, 246, 0.20);
}
.rectangle-3{
  margin: 1.5rem auto;
}

.flex-container{
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.newsletter-container{
  display: flex;
  gap: 1.5rem;
}
.newsletter-input{
  width: 40%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid #FF5400;
  border-radius: 10px;
}
.newsletter-input h1{
  font-size: 1.5rem;
  font-weight: 800;
}
.newsletter-input p{
  margin: 1rem auto 1.5rem auto;
}

.line{
  margin-bottom: 1.5rem;
  color: #1313181A;
}

.user-input{
  height: 3.25rem;
  width: auto;
  font-family: 'Mulish', sans-serif;
  background: rgba(19, 19, 24, 0.05);
  border: 1px solid transparent;
  border-radius: 10px;
}

.newsletter-input button{
  margin-top: 1.5rem;
  height: 3.25rem;
  font-family: 'Mulish', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: #FF5400;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
}

input::placeholder{
  padding-left: 1.5rem;
}

.newsletter-image{
  position: relative;

}
.newsletter-image img{
  width: 100%;
  height: 100%;
}

.discount{
  color: #fff;
  width: 20.25rem;
  height: 7.5rem;
  background-color: #FF5400;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: rotate(-20deg);
  top: 61%;
  left: 43%;
}

/* feedback section */
.feedback-header p{
  margin: 2rem auto ;
}
.feedback{
  display: flex;
  gap: 1.5rem;
}
.feedback-image img{
  border-radius: 10px;
}
.feedback-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .46rem;
  border: 2px solid #FF5400;
  border-radius: 10px;
  padding: 2rem 1rem;
}


/* footer styles */

footer{
  margin: 0rem -8.438rem;
  background-color: #1313180D;
  padding: 110px 250px;
}
.footer p{
  width: auto;
  margin: 0px auto 3rem auto;
}

.icons{
  margin: 3rem auto;
}

#footer-head{
  width: auto;
  margin: 0px auto;
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.icons{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.copyright{
  margin-top: 3rem;
}


/* this styles will work for the small devices (mobiles) */

@media screen and (max-width:576px){
  body{
      margin: 1rem;
  }
  .menu{
      display: none;
  }
  .hamburger{
    display: block;
  }
  .banner-heading{
    font-size: 2rem;
    margin: 2rem auto 0rem auto;
  }
  .input-container{
    min-height: 70%;
    flex-direction: column;
    justify-content: space-around;
  }
  .input{
    margin: .5rem auto;
  }
  .popular-tour{
    flex-direction: column;
  }
  .popular-tour-description{
    width: 100%;
  }
  .popular-tour div img{
    width: 100%;
    margin-top: 1rem;
  }
  .destination p{
    width: 100%;
    margin: .5rem auto 1rem auto;
  }
  
  /* collage section */
  .collage-container{
    flex-direction: column;
    gap: 1rem;
  } 
  .collage-row{
    flex-direction: column;
  } 
  .place-card{
    width: 100%;
  }
  .place-image{
    width: 100%;
  }
  .short-width-section{
    width: 100%;
  }
  .flex-container{
    flex-direction: column;
  }
  .rectangle{
    width: 95%;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  }

  /* newsletter section */
  .newsletter-container{
    flex-direction: column;
  }
  .newsletter-input{
    width: auto;
    margin: 0px auto;
  }
  .newsletter-image{
    width: auto;
    margin: 0px auto;
  }
  .discount{
    width: 13.375rem;
    height: 4.938rem;
    top: 52%;
  }
  .feedback{
    flex-direction: column;
  }
  .feedback-image img{
    width: 100%;
  }
  .feedback-form{
    width: 90%;
  }
  footer{
    margin: 0rem -1rem;
    width: 100%;
    background-color: #1313180D;
    padding: 5rem 1rem;
  }
  
  .icons{
    width: 100%;
  }
    
}